body {
  overflow-x: hidden;
}

.main-dash * {
  /* border: 1px solid black; */
  font-family: "Open Sans", sans-serif;
}

.main-dash > h1 {
  height: 4rem;
  padding-right: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgb(50, 50, 50);
  color: white;
}

.main-dash-container {
  display: flex;
  height: 87vh;
  background-color: whitesmoke;
}

.main-dash-template {
  height: 100%;
}

.main-dash-template > header {
  padding: 1.5rem 3.5rem;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.422);
  font-weight: 100;
  border: none;
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: space-between;
}

.main-dash-template > header > div > button {
  margin: 0 0.5rem;
}

.custom-button {
  border-radius: 5px;
  border: 0px solid black;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.125);
}

.orange {
  background-color: #f58a07;
}

.green {
  background-color: #07f523;
}

.red {
  background-color: #f53707;
}

/* .main-dash-template > hr {
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  width: 85%;
  margin: auto;
} */

.main-dash-template > ul {
  margin: auto;
  margin-top: 2rem;
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1rem 0.5rem 1rem rgba(0, 0, 0, 0.05);
  /* border-radius: 1rem; */
  background-color: white;
  padding: 0;
}

.main-dash-template > ul > hr {
  width: 100%;
  margin: auto;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.main-dash-template > ul > li {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-dash-template > ul > li > svg {
  height: 2rem;
  width: 2rem;
}

.main-dash-template > ul > li:hover {
  transition: 0.2s ease-in;
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.main-dash-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
}

.user-dash-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: scroll;
}

.class-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  font-size: 0.9rem;
  margin: 50px auto;
  height: auto;
  max-height: 30%;
  padding: 2%;
  border: 2px solid #f58a07;
  box-shadow: 1px 1px 10px 8px #f9ab55;
  border-radius: 10%;
}

.class-container:hover {
  background-color: white;
}

.class-container h2 {
  font-size: 2rem;
  margin-bottom: 1%;
  font-weight: bold;
}

.class-container p {
  width: 100%;
  padding: 1%;
  text-align: center;
}

.class-container button {
  margin: 1%;
  padding: 1% 2%;
  border-radius: 10%;
  color: #f7f5fb;
  background-color: #084887;
  font-weight: bold;
}

.class-container button:hover {
  background-color: #f58a07;
}

#class-list-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#class-list-container > h2 {
  height: 10%;
}

#class-list-elem-container {
  height: 82%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 15rem;
  overflow: scroll;
}

.class-list-elem {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  border: 1.5px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  align-items: center;
  box-shadow: 0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background-color: white;
}

.class-list-elem > #group-1 {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
}

.class-list-elem > #group-1 > p {
  margin: 0;
  height: 30%;
  display: flex;
  justify-content: start;
  padding-left: 1.25rem;
  padding-top: 1rem;
  align-items: center;
  border: none;
  font-weight: 800;
  font-size: 0.95rem;
  color: rgba(0, 0, 0, 0.5);
}

.class-list-elem > #group-1 > span {
  height: 70%;
  border: none;
  display: flex;
  justify-content: center;
  font-size: 1.75rem;
  padding-bottom: 2.25rem;
  color: rgb(50, 50, 50);
}

.class-list-elem > hr {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 95%;
}

.class-list-elem > #group-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  width: 95%;
  border: none;
}

.class-list-elem > #group-2 > p {
  border: none;
  font-size: 0.8rem;
}

.main-dash-container > nav {
  width: 12%;
  background-color: rgb(7, 61, 115);
  color: white;
}

.main-dash-container > nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0;
}

.main-dash-container > nav > ul > li {
  list-style: none;
}

.main-dash-container > nav > ul > div {
  list-style: none;
  height: 15%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.main-dash-container > nav > ul > li,
span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-nav-icons {
}

.side-nav-icons > svg {
  height: 1.8rem;
  width: 4rem;
  filter: drop-shadow(0rem 0rem 1rem rgba(0, 0, 0, 0.387));
}
.side-nav-icons > span {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.li-wrapper > li {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.li-wrapper > a {
  text-decoration: white;
}

.li-wrapper,
li span {
  /* width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer; */
  color: white;
}

.dashboard-forms-container {
  overflow: scroll;
  height: 85%;
}

.dashboard-forms {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 40%;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem 4rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1rem 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.dashboard-forms > label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
}

.dashboard-forms > label > input {
  display: flex;
  flex-direction: column;
  margin: 0.1rem 0;
  border: 1px solid rgba(0, 0, 0, 0.184);
  /* padding: 0.3rem 1rem; */
}

.popup {
  border: 3px solid lightgreen;
  display: inline;
  background-color: white;
  width: 18%;
  padding: 0.5rem 1rem;
  position: absolute;
  font-weight: bold;
  top: 100%;
  left: 77%;
  display: flex;
  flex-direction: row;
}

.popup > svg {
  color: lightgreen;
  padding-right: 1rem;
}
