.main-dash * {
  /* border: 1px solid black; */
  font-family: "Open Sans", sans-serif;
}

.main-dash > h1 {
  height: 4rem;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgb(50, 50, 50);
  color: white;
}

.main-dash-container {
  display: flex;
  height: 87vh;
  background-color: whitesmoke;
}

#manage-classes-div {
  height: 100%;
}

#manage-classes-div > h1 {
  padding: 2rem 3.5rem;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.422);
  font-weight: 100;
  border: none;
  background-color: rgba(0, 0, 0, 0.04);
}

/* #manage-classes-div > hr {
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  width: 85%;
  margin: auto;
} */

#manage-classes-div > ul {
  margin: auto;
  margin-top: 2rem;
  width: 35%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1rem 0.5rem 1rem rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  background-color: white;
}

#manage-classes-div > ul > hr {
  width: 100%;
  margin: auto;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#manage-classes-div > ul > li {
  height: 100%;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.main-dash-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
}

.user-dash-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: scroll;
}

.class-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  font-size: 0.9rem;
  margin: 50px auto;
  height: auto;
  max-height: 30%;
  padding: 2%;
  border: 2px solid #f58a07;
  box-shadow: 1px 1px 10px 8px #f9ab55;
  border-radius: 10%;
}

.class-container:hover {
  background-color: white;
}

.class-container h2 {
  font-size: 2rem;
  margin-bottom: 1%;
  font-weight: bold;
}

.class-container p {
  width: 100%;
  padding: 1%;
  text-align: center;
}

.class-container button {
  margin: 1%;
  padding: 1% 2%;
  border-radius: 10%;
  color: #f7f5fb;
  background-color: #084887;
  font-weight: bold;
}
.class-container button:hover {
  background-color: #f58a07;
}

#class-list-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#class-list-container > h2 {
  height: 10%;
}

#class-list-elem-container {
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 15rem;
}

.class-list-elem {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  border: 1.5px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  align-items: center;
  box-shadow: 0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background-color: white;
}

.class-list-elem > #group-1 {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
}

.class-list-elem > #group-1 > p {
  margin: 0;
  height: 30%;
  display: flex;
  justify-content: start;
  padding-left: 1.25rem;
  padding-top: 1rem;
  align-items: center;
  border: none;
  font-weight: 800;
  font-size: 0.95rem;
  color: rgba(0, 0, 0, 0.5);
}

.class-list-elem > #group-1 > span {
  height: 70%;
  border: none;
  display: flex;
  justify-content: center;
  font-size: 1.75rem;
  padding-bottom: 2.25rem;
  color: rgb(50, 50, 50);
}

.class-list-elem > hr {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 95%;
}

.class-list-elem > #group-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  width: 95%;
  border: none;
}

.class-list-elem > #group-2 > p {
  border: none;
  font-size: 0.8rem;
}

.main-dash-container > nav {
  width: 12%;
  background-color: rgb(7, 61, 115);
  color: white;
}

.main-dash-container > nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0;
}

.main-dash-container > nav > ul > li {
  list-style: none;
}

.main-dash-container > nav > ul > div {
  list-style: none;
  height: 15%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.main-dash-container > nav > ul > li,
span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.li-wrapper {
  height: 10rem !important;
}

.li-wrapper,
li {
  display: flex;
  justify-content: center;
}

.li-wrapper,
li span {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: white;
}
