.search-header-container {
    height: 500px;
    background-image: url("https://images.pexels.com/photos/3076513/pexels-photo-3076513.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: 0px 40%;
}

.search-page-container {
    font-family: 'Rubik', sans-serif;
}
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% auto;
}

.search-container h1 {
    line-height: 1.2;
    font-size: 50px;
    margin: 0 0 1rem;
}

.search-container h3 {
    line-height: 1.5;
    font-size: 24px;
    margin-bottom: 1%;
}

.search-container form {
    width: 40%;
    padding: 1%;
}

.searchBtn {
    background: #e85815;
    border-color: transparent;
    color: #fff;
    padding: 2% 3%;
    margin-left: 1%;
}

.searchBox {
    padding: 2% 3%;
}

.filter-container {
    display: flex;
    justify-content: center;
}
.filters {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.filters select {
    width: 100px;
}

.filters form {
    display: flex;
    justify-content: center;
    flex-wrap: row wrap;
}

.filter-label {
    margin: 0 2%;
}

p {
    text-transform: capitalize;
}

.classCard {
    border: 1px solid #F58A07;
    text-align: center;
    width: 30%;
    margin: 1.5% 35%;
    border-radius: 50%;
    box-shadow: 5px 5px 8px #F58A07;
    padding: 3%;
}
.classCards {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #F58A07;
    border-right: 1px solid #F58A07;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 5px 5px 100px #F58A07;
    padding: 3%;
}