.signUp-container {
  background-image: url("../../marketing/AnywhereFitness/images/fitness4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 55rem;
}

.formSignUp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 3rem auto;
  padding: 3rem 0;
  width: 30rem;
  height: 35rem;
  background: #fff;
}

.formSignUp-container h2 {
  margin-bottom: 2rem;
}

.formSignUp-container label,
button {
  margin-bottom: 1rem;
}

/* .formSignUp-container label {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    width: 80%;
  } */

.formSignUp-container input {
  width: 70%;
  margin-bottom: 1.5rem;
  height: 1.4rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  border: 1px solid #999999;
  border-radius: 10px;
}

.formSignUp-container button {
  font-size: 1rem;
  width: 80%;
  margin-top: 1rem;
  background-color: #f58a07;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.8rem 1rem;
}
.formSignUp-container button:hover {
  background-color: #dd7c06;
}
